<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="post-box">
  <div class="post-header">
    <h2 class="post-title">
      <a href="/post/{{post.id}}">{{post.name}}</a>
    </h2>
    <p class="post-cb">Created by {{post.user.name}}</p>
    <p>{{format_date post.date_created}}</p>
  </div>
  <div class="post-content text-center">
    <p>
      {{post.contents}}
    </p>
  </div>
{{/each}}
