<div class="text-center">
  <h2>{{this.name}}</h2>
  <p>{{this.contents}}</p>
  <p>Created by {{this.username}} on {{format_date this.date_created}}</p>
  
<form class="comment-form">
  <div>
    <textarea data-id="post_{{this.id}}" class="ml-5 text-area" name="comment-text"></textarea>
  </div>

  <div>
    <button class="button comm-btn" type="submit">Post comment</button>
  </div>
</form>

<script src="/js/comments.js"></script>
</div>